/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333;
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;

}

/* Main content */
.main-content {
    flex: 1;
    padding: 30px;
    background-color: #FFE1E1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h2 {
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
}

.admin-info {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
    margin: 10px 30px 0 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffe6e6;
    object-fit: cover;
}

/* Search + Add */
.search-add {
    display: flex;
    margin-bottom: 40px;
    gap: 30px;
}

.search-add input {
    padding: 10px;
    border: 2px solid #FF9797;
    border-radius: 8px;
    outline: none;
    height: 50px;
    flex: 1;
}
.search-add input::placeholder{
    font-size: 16px;
    color: #A49F9F;
}

.search-add .add-btn {
    background-color: #FF7A7A;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.add-btn:hover {
    background-color: #ff6a6a;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff5f5;
    border-radius: 8px;
    overflow: hidden;
    /*border: 2px solid #FF9797;*/
}

/* Màu nền xen kẽ các hàng */
tbody tr:nth-child(odd):not(.pagination-row) {
    background-color: #fff;
}
tbody tr:nth-child(even):not(.pagination-row) {
    background-color: #fff5f5;
}

thead {
    background-color: #ffeaea;
    color: #333;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #f0dcdc;
}

td img {
    width: 45px;
    height: 60px;
    border-radius: 4px;
}

.edit-btn {
    background-color: #FF7A7A;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn:hover {
    background-color: #ff6a6a;
}
/*pagination*/
/* Hàng chứa phân trang */
.pagination-row td {
    border-top: 2px solid #f7bcbc;
    text-align: right;
    padding: 10px 20px;
    background-color: #fff;
}

/* Phân trang bên trong bảng */
.pagination {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.pagination button {
    background-color: #fff;
    border: 1px solid #FF7A7A;
    color: #333;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.pagination button.active {
    background-color: #FF7A7A;
    color: white;
}

.pagination button:hover {
    background-color: #ffdcdc;
}
