* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333;
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;

}

/* Main content */
.main-content {
    flex: 1;
    padding: 30px;
    background-color: white;
    overflow-x: auto; /* cho phép cuộn ngang nếu bảng to hơn màn hình */
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.stat-card {
    background: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
}
.stat-card:hover {
    transform: translateY(-3px);
}
.stat-card i {
    font-size: 28px;
    color: #007bff;
}
.stat-card h3 {
    margin: 0;
    font-size: 22px;
}
.stat-card p {
    color: #666;
    font-size: 14px;
}

.chart-section {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

.chart-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Khu vực top sản phẩm bán chạy */
.bestseller-section {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

.bestseller-section h3 {
    margin-bottom: 15px;
}

.bestseller-table {
    width: 100%;
    border-collapse: collapse;
}

.bestseller-table thead th{
    text-align: left;
    padding: 12px 15px;
    background-color: #ffeaea;
    font-weight: bold;
    border-bottom: 1px solid #f0dcdc;
}

.bestseller-table tr:hover{
    background-color: #fff1f1;
}

.bestseller-table td {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
}

.bestseller-table th {
    background: #f7f7f7;
    font-weight: bold;
}
