* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333;
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

/* ==== MAIN CONTENT ==== */
.main-content {
    flex: 1;
    padding: 30px;
}