*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f6fa;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.left{
    width:65%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:flex-start;   /* đẩy box lên trên */
    padding-top:80px;
}

.box{
    width:540px;
    text-align:center;
}

.logo{
    width:160px;
    margin-bottom:5px;
}

h2{
    color:#0276DA;
    margin-bottom:10px;
    margin-top:-10px;
}

p{
    margin-bottom:30px;
    font-size:15px;
}

label{
    display:block;
    text-align:left;
    margin-bottom:6px;
    font-size:14px;
}

input{
    width:100%;
    padding:14px;
    border-radius:8px;
    border:1px solid #ddd;
    margin-bottom:25px;
    font-size: 15px;
}

.buttons{
    display:flex;
    justify-content:space-between;
}

button{
    padding:14px 22px;
    border-radius:10px;
    border:1px solid #0276DA;
    cursor:pointer;
    font-size:15px;
}

.back{
    background:#fff;
}

.send{
    background: #0276DA;
    color:#fff;
}

/* RIGHT */
.image-section {
    width: 33.333%;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*css pôp up*/
.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:none;
    justify-content:center;
    align-items:center;
}

.popup-content{
    background:#fff;
    width:520px;
    padding:40px;
    border-radius:12px;
    text-align:center;
    position:relative;
}

.popup-content h2{
    color: #0276DA;
    margin-bottom:30px;
}

.popup-content input{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ddd;
    margin:10px 0 25px;
}

.popup-content button{
    background: #0276DA;
    color:#fff;
    border:none;
    padding:12px 30px;
    border-radius:8px;
    cursor:pointer;
}

.close{
    position:absolute;
    right:15px;
    top:10px;
    font-size:22px;
    cursor:pointer;
}
.popup-success{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.35);
    display:none;
    justify-content:center;
    align-items:center;
}

.success-box{
    background:#fff;
    width:600px;
    padding:40px;
    border-radius:12px;
    text-align:center;
}

.success-box h2{
    color:#2f5bea;
    margin-bottom:20px;
    font-size:26px;
}

.success-box img{
    width:120px;
}


/* MOBILE */
@media(max-width:768px){
    .right{
        display:none;
    }
    .left{
        width:100%;
    }
}
