*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f6fa;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.left{
    width:65%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:60px;
}

.box{
    width:430px;
}

.logo{
    display:block;
    margin:0 auto 10px;
    width:170px;
}

h2{
    text-align:center;
    color:#0276DA;
    margin-bottom:25px;
    font-size:28px;
}

label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
}

.password-box{
    position:relative;
    margin-bottom:20px;
}

.password-box input{
    width:100%;
    padding:14px;
    border-radius:8px;
    border:1px solid #ddd;
}

.eye{
    width:22px;
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

button{
    display:block;
    margin:15px auto 0;
    padding:13px 40px;
    border:none;
    background:#0276DA;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
}

/* RIGHT */
.right{
    width:35%;
}

.right img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* POPUP SUCCESS */
.popup-success{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.35);
    display:none;
    justify-content:center;
    align-items:center;
}

.success-box{
    background:#fff;
    width:580px;
    padding:45px;
    border-radius:12px;
    text-align:center;
}

.success-box h2{
    color:#2f5bea;
    margin-bottom:20px;
    font-size:26px;
}

.success-box img{
    width:120px;
}

/* MOBILE */
@media(max-width:768px){
    .right{display:none;}
    .left{width:100%;}
}
