*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f6fa;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.left{
    width:65%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:70px;
}

.box{
    width:460px;
}

.logo{
    display:block;
    margin:0 auto 5px;
    width:150px;
}

h2{
    text-align:center;
    color: #0276DA;
    margin-bottom:30px;
    font-size: 26px;
}

label{
    display:block;
    margin-bottom:8px;
    font-size:14px;
}

input{
    width:100%;
    padding:13px;
    border-radius:8px;
    border:1px solid #ddd;
    margin-bottom:25px;
}

button{
    display:block;
    margin:10px auto 0;
    padding:13px 35px;
    border:none;
    background: #0276DA;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
}

.password-box{
    position:relative;
    margin-bottom:25px;
}

.password-box input{
    width:100%;
    padding:13px;
    padding-right:45px;
    border-radius:8px;
    border:1px solid #ddd;
    margin-bottom:0;
}

.eye{
    width:22px;
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

/* RIGHT */
.right{
    width:35%;
}

.right img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* POPUP SUCCESS */
.popup-success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.success-box{
    background: #fff;
    padding: 40px 60px;
    border-radius: 15px;
    text-align: center;
}

.success-box h2{
    color: #111111;
    margin-bottom: 20px;
    font-size: 22px;
}

.success-box .check-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #0276DA;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.success-box .check-icon::after{
    content: '';
    width: 18px;
    height: 32px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
}

/* MOBILE */
@media(max-width:768px){
    .right{display:none;}
    .left{width:100%;}
}