*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f5f6fa;
}

.container{
    display: flex;
    height: 100vh;
}

/* LEFT */
.left{
    width: 65%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.box{
    width: 460px;
}

h2{
    text-align: center;
    color: #0276DA;
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: bold;
}

label{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

input{
    width: 100%;
    padding: 14px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}

input:focus{
    border-color: #0276DA;
}

.password-box{
    position: relative;
    margin-bottom: 20px;
}

.password-box input{
    width: 100%;
    padding: 14px 15px;
    padding-right: 45px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 0;
    font-size: 16px;
}

.eye{
    width: 22px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button{
    display: block;
    width: 100%;
    margin: 25px auto 0;
    padding: 14px 35px;
    border: none;
    background: #0276DA;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

button:hover{
    background: #0265c2;
}

/* RIGHT */
.right{
    width: 35%;
    overflow: hidden;
}

.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* POPUP SUCCESS */
.popup-success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.success-box{
    background: #fff;
    padding: 40px 60px;
    border-radius: 15px;
    text-align: center;
}

.success-box h2{
    color: #0276DA;
    margin-bottom: 20px;
    font-size: 22px;
}

.success-box .check-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #0276DA;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.success-box .check-icon::after{
    content: '';
    width: 18px;
    height: 32px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
}

/* MOBILE */
@media(max-width: 768px){
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }
}


/* Ẩn nút con mắt mặc định trên Chrome, Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle {
    display: none;
}