.admin-header {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 20px;
}

/* Nhóm icon + admin info */
.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.fa-bell {
    font-size: 24px;   /* Tăng kích thước icon */
    color: #000;       /* Đổi màu đen */
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s;
}
.fa-comment {
    font-size: 24px;   /* Tăng kích thước icon */
    color: #000;       /* Đổi màu đen */
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s;
}

.fa-bell:hover {
    opacity: 1;
    transform: scale(1.15);
}
.fa-comment:hover {
    opacity: 1;
    transform: scale(1.15);
}

/* Admin Avatar + Name */
.admin-profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.admin-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*border: 2px solid #000;*/
}

.admin-name {
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.btn-logout {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.2s ease, transform 0.2s ease;
}
.btn-logout i{
    color: #ff4c4c !important;
}
.btn-logout:hover {
    transform: scale(1.1);
}

.admin-notification {
    position: relative;
    margin-right: 20px;
}

.admin-notification i {
    font-size: 22px;
    color: #333;
}

.notification-badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    width: 320px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
}

.notification-item {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.notification-item:hover {
    background: #fff1f1;
}

.notification-empty {
    padding: 15px;
    text-align: center;
    color: #999;
}


